# Live Deployed Render Backend URL (Default for Production):
# VITE_API_BASE_URL=https://scientific-collab-researchnet.onrender.com

# Local Backend Server URL (Default for Manual Testing):
VITE_API_BASE_URL=http://127.0.0.1:8000
